$text1:#2da3e2;
$text2:#80401a;
$text3: #2c5166;
$style: rgb(85, 27, 27);
$style1:#005685;
$style2:#441e08;
$style3: darken($text3 , 10%);
$white:#fff;
$black:#000;
$background:#eee;
$muted:#777;
$btn-color:#3534;