@import './variables';
.my-books{
    padding: 150px 0 120px;
    .col{
        .overlay{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px ;
            height: 300px ;
            a{
                display: inline-block;
                text-decoration: none;
                background-color: $white;
                box-shadow: 0px 0px 5px 2px $white;
                border-radius: 5px;
                padding: 15px;
                font-size: 22px;
                transition: all 200ms ease;
                font-weight: bold;
            }
        }    
        img{
            min-width: 300px !important;
            max-height: 300px !important;
        }
        &:nth-child(1){
            .overlay{
                background-color: rgba($style1 ,  0.7);
                opacity: 0;
                transition: opacity 200ms ease;
                &:hover{
                    opacity: 1;
                }
                a{
                    color: $style1;
                    &:hover,
                    &:focus,
                    &:active,
                    &:active:focus,
                    &:active:hover{
                        background-color: $style1;
                        color: $white;
                    }
                }
            }
        }
        &:nth-child(2){
            .overlay{
                background-color: rgba($style2 ,  0.7);
                opacity: 0;
                transition: opacity 200ms ease;
                &:hover{
                    opacity: 1;
                }
                a{
                    color: $style2;
                    &:hover,
                    &:focus,
                    &:active,
                    &:active:focus,
                    &:active:hover{
                        background-color: $style2;
                        color: $white;
                    }
                }
            }
        }
        &:nth-child(3){
            .overlay{
                background-color: rgba($style3 ,  0.7);
                opacity: 0;
                transition: opacity 200ms ease;
                &:hover{
                    opacity: 1;
                }
                a{
                    color: $style3;
                    &:hover,
                    &:focus,
                    &:active,
                    &:active:focus,
                    &:active:hover{
                        background-color: $style3;
                        color: $white;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199.98px){
    .my-books{
        .col{
            img{
                min-width: 250px !important;
                max-height: 250px !important;
            }
            .overlay{
                width: 250px !important;
                height: 250px !important;
                a{
                    font-size: 19px;
                }
            }
        }
    }
}
@media (max-width: 991.98px){
    .my-books{
        .col{
            img{
                min-width: 200px !important;
                max-height: 200px !important;
            }
            .overlay{
                width: 200px !important;
                height: 200px !important;
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
