@import "./variables";

.head{
    padding-bottom: 120px;
    .media-body{
        .title1{
            font-size: 30px;
            color: $title1;
            font-weight: bold;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 20px;
            &::after{
                content: '';
                width: 80%;
                height: 1px;
                background-color: $title1;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .text1{
            font-size: 18px;
            line-height: 35px;
            font-weight: bold;
            text-align:justify;
            color: $text1;
        }
    }
   .thumbnail1{
        width: 520px;
        height: auto;
    }
}
.book-pictures{
    padding-bottom: 120px;
    position: relative;
    h2{
            color: $title1;
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 100px;
    }
    .carousel-inner{
        .carousel-item{
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev{
        color: $title1;
        position: absolute;
       
    }
}