@import "./variables";

.top-menu{
    .navbar{
        .navbar-nav{
            .active-first-book{
                background-color: $style1 !important;
                .nav-link{
                    box-shadow: 0 0 5px 1px $style1 !important;
                }
            }
        }
    }
}

.heading-book-1{
    padding-bottom: 120px !important;
    .media-body{
        .title{
            font-size: 30px;
            color:$style1;
            font-weight: bold;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 20px;
            &::after{
                content: '';
                width: 100% !important;
                height: 1px;
                background-color: $style1;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .text{
            font-size: 18px;
            line-height: 35px;
            font-weight: bold;
            text-align:justify;
            color: $text1;
        }
    }
   .thumbnail{
        width: 520px;
        height: auto;
    }
}
.book-pictures{
    padding-bottom: 150px;
    h2{
        color: $style1;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 100px;
    }
    .carousel-inner{
        .carousel-item{
            img{
                width: 250px;
                height: auto;
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev{
        width: 0;
        height: 0;
        color: $style1;
    }        
    .carousel-control-next{
    right: 91%;
      top: 50%;
   
    }
    .carousel-control-prev{
       right: 9%;
        top: 50%;
    }
}
.add-to-cart{
    padding-bottom: 150px;
    h2{
        color: $style1;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 100px;
    }
    .overlay{
        background-color: rgba($style1 , 0.7);
        right: 50%;
        width: 300px;
        height: 300px;
        opacity: 0;
        transition: all 300ms ease;
        transform: translateX(50%);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            opacity: 1;
        }
    }
    img{
        width: 300px;
        height: auto;
    }
}
.btn-cart{
    font-size: 30px;
    font-weight: bold;
    color: $style1;
    background-color: $white;
    border-radius: 0;
    padding: 8px 12px;
    transition: all 200ms ease;
    box-shadow: 0px 0px 5px 1px $white;
    &:focus{
        box-shadow: 0px 0px 5px 1px $white;
    }
    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover{
        color: $white;
        background-color: $style1;
    }
}
.footer-book-1{
    background-color: $style1 !important;
    .social-icons{
        svg{
            color: $white !important;
            &:hover{
                background-color: $white !important;
                color: $style1 !important;
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .heading-book-1{
        .thumbnail{
            width: 350px !important;
         }
    }
}
@media (max-width: 991.98px) {
    .heading-book-1{
        .thumbnail{
            margin-top: 90px;
         }
    }
}

@media (max-width: 1199.98px) {
    .heading-book-1{
        .thumbnail{
            width: 400px;
         }
    }
}

@media (min-width: 991.98px)and(max-width:1199.98px) { 
    .heading{
        .media{
            .thumbnail{
                transform: translateY(30%);
            }
        }
    }
}
@media(max-width:432px){
    html , body{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .heading-book-1{
        .media-body{
            .title{
                font-size: 18px !important;
            }
            .text{
                font-size: 12px !important;
            }
        }
       .media{
            .thumbnail{
                width: 250px !important;
                height: auto !important;
                margin-right: 0 !important;
            }
        }
    } 
    .book-pictures{
        h2{
            font-size: 30px !important;
        }
        .carousel-item{
            img{
                width: 150px !important;
                height: auto !important;
            }
        }
    } 
    .add-to-cart{
        h2{
            font-size: 30px !important;
        }
        img{
            width: 200px !important;
        }
        .overlay{
            width: 200px !important;
            height: 200px !important;
        }
    }
    .btn-cart{
        font-size: 15px !important;
    }
    .footer{
        .copyright{
            font-size: 10px !important;
        }
    }
}