@import "./variables";
@import "./books.scss";
@import "./first-book.scss";
@import "./second-book.scss";
@import "./third-book.scss";


@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body{
font-family:  'Cairo' , Calibri, Arial ,Segoe UI, Trebuchet MS, Consolas, Tahoma;
background-color: $background;
}
.top-menu{
    padding-bottom: 120px;
    .navbar{
        img{
            width: 15%;
            height: auto;
        }
    }
}
.scroll{
    border-bottom: 1px solid $muted !important;
    background-color: #eee;
    img{
        width: 10% !important;
        height: auto;
    }
}
.heading{
    padding-bottom: 150px;
    .media-body{
        h2{
            font-size: 30px;
            display: inline-block;
            color: $style;
            font-weight: bold;
            position: relative;
            padding-bottom: 20px;
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                background-color: $muted;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        p{
            font-size: 18px;
            line-height: 40px;
            text-align:justify;
            color: $muted;
        }
    }
    a{
        text-decoration: none;
        background-color: $style;
        color: $white;
        padding: 30px;
        width: 300px;
        font-size: 25px;
        border-radius: 7px;
        font-weight: bold;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        span{
            margin:0 30px;
        }
        svg.right-hand{
         position: absolute;
         right: 13% ;
        }
        svg.left-hand{
            position: absolute;
            left:12.9%;
        }
    }
}
.contact-us{
    h2{
        font-size: 30px;
        font-weight: bold;
        color: $style;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 15px;
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: $muted;
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(45%);
        }
    }
    .contact-info{
        div{
            margin-bottom: 30px;
            color: $style;
            svg{
                margin-left: 5px;
                color: $muted;
                transition: color 200ms ease;
                &:hover{
                    color: $style;
                }
            }
        }
    }
    .form-group{
        margin-bottom: 10rem;
        input{
            text-align: right;
            padding: 22px 10px;
            line-height: 30px;
            &:focus{
                box-shadow: 3px 3px 10px 1px $muted;
                border-color:$muted ;
            }
        }
    }
}
.footer{
    background:$muted;
    padding: 20px 0;
    .copyright{
        font-size: 20px;
        line-height: 45px;
        color: $white;
    }
    .social-icons{
        line-height: 30px;
        a{
            display: inline-block;
            margin-right: 0px;
           svg{
                color: $black;
                width: 50px;
                height: 50px;
                line-height: 50px;
                padding: 12.5px;
                border-radius: 50%;
                text-align: center;
                &:hover{
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }
}
.btn-style{
    color: $style;
    background-color: $btn-color;
    transition: all 300ms ease;
    &:hover{
        color: $white;
        background-color: $style;
    }
}
@media (max-width: 575.98px) {  
    html , body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading{
        .media{
            p{
                line-height: 30px;
            }
            a{
                max-width: 240px !important;
              max-height: 120px !important;
            }
        }
    }
}
@media (max-width: 767.98px) {
    .heading{
        .media{
            a{
              width: 250px !important;
              height: 150px !important;
                span{
                font-size: 20px !important;
                margin: 0 15px !important;
                }
            }
        }
    }
} 
@media (max-width: 991.98px) { 
    .heading{
        .media{
            display: initial;
            .media-body{
                margin-bottom: 85px;
            }
            a{
                margin: auto;
            }
        }
    }
    .footer{
        svg{
            width: 40px !important;
            height: 40px !important;
            line-height: 40px !important;
        }
        .copyright{
            font-size: 18px;
        }
    } 
}





